* {
  margin: 0px;
  padding: 0px;
}

html {
  font-size: 16px;
}

body {
  background: #b5bec2;
}

.LogoImg {
  margin-left: 3rem;
  margin-top: 2rem;
  width: 30px;
}

#hombre {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
}

.hombre-ahorcado {
  margin-bottom: 1rem;
  margin-top: 2rem;
  text-align: center;
  width: 100vw;
}

.adivinador-palabras {
  color: #002462;
  font-size: 1.8rem;
  text-align: center;
}

.letras {
  display: inline-block;
  text-align: center;
}

.adivinada {
  border-bottom: solid 2px #002462;
  height: 4.5rem;
  line-height: 4.5rem;
  margin-left: 0.4rem;
  vertical-align: middle;
  width: 4.5rem;
}

.errado-en-palabras {
  color: #000000;
  margin-top: 2rem;
  text-align: center;
}

.erradas {
  font-size: 1.5rem;
  margin-left: 1rem;
}

[type="button"] {
  border: solid 1px #043871;
  border-radius: 1rem;
  color: rgb(239, 239, 239);
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem;
  width: 15rem;
}

.botones {
  margin-top: 2rem;
  text-align: center;
}

.btn-azul {
  background: #83a5e0;
}

#bton-desis {
  background: #bb7cd5;
}

.pie-pagina {
  text-align: center;
  font-size: 20px;
  height: 5%;
  margin-top: 2rem;
}